- fresh = !User.any?

%br
.col-md-8.col-md-offset-2.col-xs-12
  - if flash[:notice]
    .alert.alert-info.auto
      %p= flash[:notice]

  .panel.panel-primary.home
    .panel-body
      %h1 Legally Marketing Payment Center

      %p
        Powered by Stripe.
      %br
      .buttons
        - unless fresh
          %a.btn.btn-primary.btn-lg{ href: new_sessions_path } Login
        %a.btn.btn-primary.btn-lg{ class: ('start' if fresh), href: new_user_path }
          = fresh ? 'Get Started &raquo;'.html_safe : 'New User'
